<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="se.embargo.sonar"
	android:versionCode="1"
	android:versionName="1.0.0">
	
	<uses-sdk 
		android:minSdkVersion="9"
		android:targetSdkVersion="19"/>
	
	<!-- Used to record audio -->
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>

	<!-- Used to read/write sonar dumps -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
		
	<application
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:allowBackup="true">

		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data 
		            android:scheme="file" 
		            android:host="*" 
		            android:pathPattern=".*\\.sonar" />
		    </intent-filter>			
		</activity>
		
	</application>
</manifest>